<!DOCTYPE html>
<html lang="en">
<head>
  <title>CloudCentral demo - home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script>
$(document).ready(function(){
  $("#show_inventory_templates").click(function(){
   $.ajax({url: "/show_inventory/inventory_templates", success: function(result){
      $("#inventory_listing").html(result);
    }});
  });

 $("#show_inventory_iso").click(function(){
   $.ajax({url: "/show_inventory/inventory_iso", success: function(result){
      $("#inventory_listing").html(result);
    }});
  });

 $("#show_inventory_apps").click(function(){
   $.ajax({url: "/show_inventory/inventory_apps", success: function(result){
      $("#inventory_listing").html(result);
    }});
  });

 $("#show_inventory_ansible").click(function(){
   $.ajax({url: "/show_inventory/inventory_ansible", success: function(result){
      $("#inventory_listing").html(result);
    }});
  });

 $("#show_inventory_tf").click(function(){
   $.ajax({url: "/show_inventory/inventory_tf", success: function(result){
      $("#inventory_listing").html(result);
    }});
  });

 $("#show_inventory_startup").click(function(){
   $.ajax({url: "/show_inventory/inventory_startup", success: function(result){
      $("#inventory_listing").html(result);
    }});
  });

 $("#show_inventory_docker").click(function(){
   $.ajax({url: "/show_inventory/inventory_docker", success: function(result){
      $("#inventory_listing").html(result);
    }});
  });





});


</script>


</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cloud Central</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="index">Home</a></li>
      <li ><a href="vms">VMs</a></li>
      <li ><a href="users">Users</a></li>
      <li class="active"><a href="inventory">Inventory</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
<ul class="nav nav-tabs">
  <li id="show_inventory_templates"><a href="#">VM templates</a></li>
  <li id="show_inventory_iso"><a href="#">ISO</a></li>
  <li id="show_inventory_apps"><a href="#">Applications</a></li>
  <li id="show_inventory_ansible"><a href="#">Ansible Playbooks</a></li>
  <li id="show_inventory_tf"><a href="#">Terraform</a></li>
  <li id="show_inventory_startup"><a href="#">Startup</a></li>
  <li id="show_inventory_docker"><a href="#">Docker images</a></li>
	
</ul>
</div>
  <div class="container" id="inventory_listing">  
	  Please select inventory.
  </div>
</body>
</html>
</html>



