<!DOCTYPE html>
<html lang="en">
<head>
  <title>CloudCentral demo - home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>

  function changeState(instanceID,newState){
    
    if (confirm ("Are you sure you want to " + newState + " instance " + instanceID + " ? ") != true)
     return;

 $.post(
	 "/change_instance_state",
              { newState: newState,
	       instanceID: instanceID }
           ).done(function (reply) {
              alert(reply);
           });
  };
</script>	
 	 

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cloud Central</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="index">Home</a></li>
      <li class="active"><a href="vms">VMs</a></li>
      <li><a href="users">Users</a></li>
      <li><a href="inventory">Inventory</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <p><button type="button" class="btn btn-success" onClick='document.location="/create_vm"'>Create new VM...</button></p>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th nowrap="nowrap">Instance Name</th>
        <th align="center" nowrap="nowrap">Instance ID</th>
        <th align="center" nowrap="nowrap">Instance type</th> 
        <th align="center" nowrap="nowrap">Current state</th>
	<th align="center" nowrap="nowrap">Change state</th>
	<th align="center" nowrap="nowrap"></th>

      </tr>
    </thead>
    <tbody>
	 {% for instance in instances: %}
	 <tr> 
            {% for tag in instance.tags: %}
            {%  if 'Name'in tag['Key']: %}
	     <td>{{tag['Value']}}</td>
	    {% else %}
	     <td>Unknown instance</td>
	    {%  endif %}
            {% endfor %}  
          <td>{{instance.id}}</td>
          <td>{{instance.instance_type}}</td>
          <td>{{instance.state['Name']}}</td>
	  <td nowrap="nowrap">
	   <div class="dropdown">
	   <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">Select new state...
    	    <span class="caret"></span></button>
    	    <ul class="dropdown-menu">
 	        <li onClick=changeState("{{instance.id}}","Start")><a href="#">Start</a></li>
	        <li onClick=changeState("{{instance.id}}","Stop")><a href="#">Stop</a></li>
		<li onClick=changeState("{{instance.id}}","Reboot")><a href="#">Reboot</a></li>
	    </ul>
  	   </div>
	   </td>
           <td nowrap="nowrap" align="center"><img src="/static/images/settings.png" style="cursor:pointer" title="Settings"> &nbsp; <img src="/static/images/delete.png" style="cursor:pointer" title="Delete"></td>


	 <tr>
	 {% endfor %}      
    </tbody>
  </table>
</div>

</body>
</html>
</html>
